@import "definitions";

body {
	margin: 0px;
	font-family: $main-font;
	color: $main-color
}

#game {
	position: relative;

	.debug-screen {
		position: absolute;
	}
}

.click-off-panel {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
}
