@import "definitions";

.action-select-menu {
	display:		inline-block;
	margin:			0px;
	padding:		5px;
	background-color:	$background-color;

	li {
		list-style:	none;
		font-weight:	bold;

		&:hover {
			color:	$highlight-color;
			cursor:	pointer;
		}
	}
}

.info-panel {
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;

	background-color: black;
	
	$padding: 10px;

	padding: $padding;
	width: 200px - 2 * $padding;

	.unit-info {
		.hp {
			color: red;
		}
	}
}
